@using GlobalResources
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<noscript>
    <div class="error_noscript">
        <h1>@Strings.NoscriptHeader</h1>
        <p>@Strings.NoscriptP1</p>
        <p>@Strings.NoscriptP2</p>
    </div>
</noscript>
<div class="advanced_content">
    <div class="content_outer">
        Logic Apps Content
    </div>
</div>