@using Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Web.Helpers
@using Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Web.Models
@using Microsoft.Ajax.Utilities
@using GlobalResources
@model CommandHistoryItemResultModel
@{
    var separator = string.Empty;

    if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        separator = ":";
    }

    <span class="@Model.CssClass.ToLowerInvariant()">@string.Format("{0}{1}", Model.Text , separator)</span>

    if (!string.IsNullOrEmpty(separator))
    {
        <span class="command_history__error_message" data-error-message="@Model.ErrorMessage">@Strings.ClickToDisplayError</span>
    }
}